.index-page {
    
    .nav {
        background: #f5f6f6;
        border-top:1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        padding: 8px 0;
        div {
            background: #fff;
            border-top:1px solid #eaeaea;
            border-bottom: 1px solid #eaeaea;
        }
        ul {
            display: flex;
        }
        li {
            a {
                display: block;
                height: 85px;
            }
            flex:1;
            text-align: center;
            img {
                width: 45px;
                height: 45px;
                margin:10px auto 4px;
            }
            span {
                display: block;
            }
        }
    }
    
}